body{
    background-color: #749893;
}
.color{
    background-color: #475A57;
}
.image{
    width: 90%;
    height: 400px;
    margin: 10px 0px 10px 20px;
}
.disc{
    background-image: linear-gradient(#61958D,#918E32 );
}
.description{
    position: absolute;
    left: 0;
    bottom: 110x;
    opacity: 0;
}
.disc:hover .description{
    opacity: 1;
    background-color: #154E55 ;
    transition: opacity 0.9s ease-in-out;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color: aqua;
}